@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-150;
  }
  .form-input {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm border p-2;
  }
}
